<!-- follow us-->
<div class="follow text-center pt-5 pb-3">
    <h3 class="pb-3">Follow Us</h3>

    <div class="container w-50 m-auto text-center">
        <div class="row">

            <div class="col-lg-4">
                <div class="social">
                    <span><i class="fa fa-facebook"></i>Facebook</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="social">

                    <span><i class="fa fa-twitter"></i>Twitter</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="social">

                    <span><i class="fa fa-google"></i>Google</span>
                </div>
            </div>
        </div>
    </div>

</div>