<section class="contact">
    <div class="container py-md-5">
        <h3 class="mb-lg-5  mb-4 text-center">CONTACT US</h3>
        <div class="row contactInfo w-50 m-auto">
            <div class="contactForm w-100 p-lg-5 p-4">
                <form>
                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="Enter User Name">

                    </div>
                    <div class="form-group">

                        <input type="email" class="form-control" placeholder="Enter User Email">

                    </div>
                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="Enter User Phone">

                    </div>

                    <div class="form-group">

                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">

                        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Enter your massage" rows="3"></textarea>
                    </div>





                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>


        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mt-lg-4">
                <div class="infomation1">

                    <h4 class="mb-3"> <i class="fa fa-comments" aria-hidden="true"></i> COMMUNICATION</h4>
                    <p class="mb-2">For General Queries, Including Property Sales And Constructions, Please Email Us At</p>
                    <a routerLink="/home">Info@Example.Com</a>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 mt-lg-4">
                <div class="infomation1">

                    <h4 class="mb-3"> <i class="fa fa-life-ring" aria-hidden="true"></i> TECHNICAL SUPPORT</h4>
                    <p class="mb-2">We Are Ready To Help! If You Have Any Queries Or Issues, Contact Us For Support</p>
                    <a routerLink="/home">+12 388 455 6789.</a>
                </div>
            </div>




            <div class="col-lg-4 col-md-6 mt-lg-4">
                <div class="infomation1">

                    <h4 class="mb-3"><i class="fa fa-map" aria-hidden="true"></i>OTHERS</h4>
                    <p class="mb-2">We Are Ready To Help! If You Have Any Queries Or Issues, Contact Us For Support</p>
                    <a routerLink="/home">+12 388 455 6789.</a>
                </div>
            </div>
        </div>
    </div>
</section>