<section class="collection py-5">
    <div class="container py-5">
        <h3 class="mb-lg-5 mb-4 text-center">SHOP NOW</h3>
        <div class="row">
            <div class="col-lg-3 mt-4">
                <div class="card" style="width:15rem;height: 26rem;">
                    <img class="card-img-top" src="assets/images/b1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">MESSENGER BAG</h4>
                        <p class="card-text">Some quick example text to build on the card title </p>
                        <a routerLink="/home" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 mt-4">
                <div class="card" style="width:15rem;height: 26rem;">
                    <img class="card-img-top" src="assets/images/b2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">SHOULDER BAG (PINK)</h4>
                        <p class="card-text">Some quick example text to build on the card title </p>
                        <a routerLink="/home" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>



            <div class="col-lg-3 mt-4">
                <div class="card" style="width:15rem;height: 26rem;">
                    <img class="card-img-top" src="assets/images/b3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">MESSENGER BAG</h4>
                        <p class="card-text">Some quick example text to build on the card title </p>
                        <a routerLink="/home" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 mt-4">
                <div class="card" style="width:15rem;height: 26rem;">
                    <img class="card-img-top" src="assets/images/b4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">TOTE (BLUE)</h4>
                        <p class="card-text">Some quick example text to build on the card title </p>
                        <a routerLink="/home" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <!--new row-->
        <div class="row">
            <div class="col-lg-3 mt-4">
                <div class="card" style="width:15rem;height: 26rem;">
                    <img class="card-img-top" src="assets/images/b5.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">SATCHEL (YELLOW)</h4>
                        <p class="card-text">Some quick example text to build on the card title </p>
                        <a routerLink="/home" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 mt-4">
                <div class="card" style="width:15rem;height: 26rem;">
                    <img class="card-img-top" src="assets/images/b6.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">SHOULDER BAG (ORANGE)</h4>
                        <p class="card-text">Some quick example text to build on the card title </p>
                        <a routerLink="/home" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>



            <div class="col-lg-3 mt-4">
                <div class="card" style="width:15rem;height: 26rem;">
                    <img class="card-img-top" src="assets/images/b7.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">HOBO (BLUE)</h4>
                        <p class="card-text">Some quick example text to build on the card title </p>
                        <a routerLink="/home" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 mt-4">
                <div class="card" style="width:15rem;height: 26rem;">
                    <img class="card-img-top" src="assets/images/b8.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">SATCHEL (PINK)</h4>
                        <p class="card-text">Some quick example text to build on the card title </p>
                        <a routerLink="/home" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>