<!--subscribe-->
<section class="subscribe py-5">
    <div class="container text-center py-md-5">
        <form>
            <p>Subscribe to the Handbags Store mailing list to receive updates on new arrivals, special offers and other discount information.</p>

            <div class="row">
                <div class="col-lg-8">
                    <div class="form-group">

                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">

                    </div>
                </div>
                <div class="col-lg-4">
                    <button type="submit" class="btn btn-primary pl-5 pr-5">Submit</button>
                </div>
            </div>
        </form>
    </div>
</section>

<section class="offer">
    <div class="row">
        <div class="col-lg-4 offer1">
            <div class="text-center">
                <div class="icon">
                    <i class="fa fa-truck"></i>
                </div>
                <div class="discription">
                    <h3>FREE SHIPPING</h3>
                    <p>On all order over $2000</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 offer1 special">
            <div class="text-center">
                <div class="icon">
                    <i class="fa fa-bullhorn"></i>
                </div>
                <div class="discription">
                    <h3>FREE RETURN</h3>
                    <p>On 1st exchange in 30 days</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 offer1">
            <div class="text-center">
                <div class="icon">
                    <i class="fa fa-gift"></i>
                </div>
                <div class="discription">
                    <h3>MEMBER DISCOUNT</h3>
                    <p>Register & save up to $29%</p>
                </div>
            </div>
        </div>
    </div>

</section>